<footer class="text-center">
  <div class="footer-container text-white py-4 py-lg-5">
    <ul class="list-footer-links">
      <li class="footer-link me-4">
        <a class="link-light" href="contact.html">Contact</a>
      </li>
      <li class="footer-link me-4">
        <a class="link-light" href="mentions.html">Mentions légales</a>
      </li>
      <li class="footer-link me-4">
        <a class="link-light" href="aboutUs.html">Qui sommes nous ?</a>
      </li>
    </ul>
  </div>
  <div class="back-home-footer">
    <p>
      Collabils
    </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

