<header>
      <!-- Navbar start -->
      <nav class="navbar navbar-expand-lg">
        <a href="index.html" class="navbar-brand text-light"> Collabils </a>
        <!-- Hamburger Start -->

        <div
          type="button"
          class="m-2"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
        </div>

        <!-- <div class="m-2" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            </div> -->

        <!-- Hamburger End -->

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mx-auto">
            <a href="about.html" class="nav-item nav-link text-light">Vidéos</a>
            <a href="classes.html" class="nav-item nav-link text-light"
              >Requêtes</a
            >
            <a href="contact.html" class="nav-item nav-link text-light"
              >Favoris</a
            >
            <a href="contact.html" class="nav-item nav-link text-light"
              >Forum</a
            >
          </div>
          <a
            href="login.html"
            class="btn btn-outline-light rounded-pill px-3 d-none d-lg-block m-2"
            >Connexion<i class="fa fa-sign-in ms-3" aria-hidden="true"></i
          ></a>
        </div>
      </nav>
      <!-- Navbar End -->
    </header>