{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block title %}Rechercher une video{% endblock %}

{% block body %}
<main>
      <div class="container-fluid my-4">
        <!-- search form start -->
        <h2 class="text-center">
          Vous souhaitez effectuer une recherche par :
        </h2>
        <!-- search form end -->

        <!-- main-buttons start -->
        <div class="container-xxl py-5">
          <div class="container-buttons">
            <div class="row g-3 d-flex flex-column justify-content-around">
              <div>
                <a href={{ path('video_list_alpha')}}>
                  <div class="main-search-buttons-item btn-alphabet-order">
                    <div class="main-buttons-text">
                      <i class="fa-solid fa-arrow-down-a-z"></i>
                      <h3 class="mb-3">Ordre alphabétique</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div>
                <a href={{ path('category_list') }}>
                  <div class="main-search-buttons-item btn-category-order">
                    <div class="main-buttons-text">
                      <i class="fa-solid fa-folder-open"></i>
                      <h3 class="mb-3">Catégories</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div>
                <a href={{ path('video_list_chrono')}}>
                  <div class="main-search-buttons-item btn-date-add">
                    <div class="main-buttons-text">
                      <i class="fa-solid fa-calendar-plus"></i>
                      <h3 class="mb-3">Date d'ajout</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- main-buttons end -->
      </div>
    </main>
{% endblock %}
