{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/submit.css') }}"/>
{% endblock %}

{% block title %}Soumettre uen vidéo {% endblock %}

{% block body %}
<main>
      <div class="container">
        <!------form start------>
        <h2>Soumettre une vidéo</h2>
        {{ form_start(formSubmit) }}
          
          {{ form_widget(formSubmit) }}
          <button type="submit" class"btn btn-success">Enregistrer<button>

        {{ form_start(formSubmit) }}
        <!------form end------>
      </div>
    </main>
{% endblock %}